@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-style: normal;
    font-family: Font_b4a17b69-47e3-4c8f-bb96-340521cde7c4;
    src: url(OEBPS/fonts/LiberationSerif-Regular.ttf)
    }
@font-face {
    font-style: italic;
    font-family: Font_b4a17b69-47e3-4c8f-bb96-340521cde7c4;
    src: url(OEBPS/fonts/LiberationSerif-Italic.ttf)
    }
