.annotation {
    display: block;
    font-size: 0.75em;
    font-style: italic;
    text-indent: 0;
    margin: 0
    }
.calibre {
    display: block;
    font-family: "Font_b4a17b69-47e3-4c8f-bb96-340521cde7c4";
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 0.67em 0
    }
.calibre10 {
    display: list-item
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 1em 0
    }
.calibre4 {
    display: block;
    text-align: justify;
    text-indent: 1.5em;
    margin: 0
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    display: block;
    font-size: 1.29032em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 0.83em 0
    }
.calibre7 {
    font-weight: bold
    }
.calibre8 {
    display: block;
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    margin: 1.33em 0
    }
.calibre9 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.citation {
    display: block;
    font-style: italic;
    text-indent: 0;
    margin: 1em 0 1em 2em
    }
.epigraph {
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    page-break-inside: avoid;
    margin: 0.5em 0 1em
    }
.poem {
    display: block;
    text-align: center;
    margin: 0.5em 15%
    }
.stanza {
    display: block;
    justify: left;
    page-break-inside: avoid;
    margin: 0.5em 0
    }
.title {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 1em 0 0.5em 1.5625em
    }
.titlepage {
    display: block;
    text-align: center
    }
.v {
    display: block;
    justify: left;
    padding-left: 1em;
    text-align: justify;
    text-indent: -1em;
    margin: 0
    }
