@font-face
{
 font-style: normal;

 font-family: Font_6eaaea5e-9ae9-4c1d-a719-7b28c48d19a0;

 src:  url(../fonts/LiberationSerif-Regular.ttf) ;
}
@font-face
{
 font-style: italic;

 font-family: Font_6eaaea5e-9ae9-4c1d-a719-7b28c48d19a0;

 src:  url(../fonts/LiberationSerif-Italic.ttf) ;
}
body
{
 font-family: "Font_6eaaea5e-9ae9-4c1d-a719-7b28c48d19a0";
}
code
{
 font-family: "Font_6eaaea5e-9ae9-4c1d-a719-7b28c48d19a0";
}
