﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.EbookTitle | TheReadersBay</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- jQuery/jQueryUI (hosted) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.backDetect.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <link href="~/Content/EbookView.css" rel="stylesheet" />

    <script src="~/Scripts/EbookView.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).scrollTop(@ViewBag.ScrollbarPosition);

             $(document).keydown(function (e) {
                switch (e.which) {
                    case 37: // left arrow key
                        GoToLink('@Html.Raw(@ViewBag.PrevChapter)')
                        break;

                    case 39: // right arrow key
                        GoToLink('@Html.Raw(@ViewBag.NextChapter)');  
                        break;

                    default: return; // exit this handler for other keys
                }
            });
        });
       
    </script>


</head>
<body>

    <div class="container" style="        padding-top: 5px;
        height: 100%;
        padding-bottom: 5px;">
        <div class="row">
            <div class="col-lg-1 text-center">

            </div>
            <div id="content" class="col-lg-10 center-justified">

                <div class="row ebook-title">
                    <div class="text-center">
                        @ViewBag.EbookTitle
                    </div>
                </div>

                <hr />

                <div class="row">
                    @Html.Raw(@ViewBag.ChapterContent)
                </div>
            </div>
            <div class="col-lg-1 text-center">

            </div>
        </div>
    </div>

    <div class="container" style="height:50px"></div>

    <div class="navbar navbar-default navbar-fixed-bottom" style="position: fixed;
        border-top: 2px solid #F48024;height:20px;">

        <div class="row" style="padding-top: 2px">
            <div class="col-sm-3 col-xs-3 col-md-3 text-center">
                <a id="prev-link" href="javascript:GoToLink('@ViewBag.PrevChapter')">
                    <input type="button" class="btn btn-sm btn-success" value="<< Prev" />
                </a>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 text-center">
                <a id="library-link" href="javascript:GoToLink('@Url.Action("EbookLibrary")')">
                    <input type="button" id="library-btn" class="btn btn-sm btn-purple" value="Library" />
                </a>
            </div>

            <div class="col-sm-2 col-xs-2 col-md-2 text-center">
                @*<a id="book-mark-btn" href="javascript:GoToLink('@ViewBag.CurrentChapter')">
                    <input type="button" class="btn btn-sm btn-primary" value="BookMark This Position" />
                </a>*@

            </div>

            <div class="col-sm-2 col-xs-2 col-md-2 text-center">
                <a id="logout-link" href="javascript:GoToLink('@Url.Action("Logout")')">
                    <input type="button" id="logout_link" class="btn btn-sm btn-danger" value="Sign-Out" />
                </a>
            </div>
            <div class="col-sm-3 col-xs-3 col-md-3 text-center">
                <a id="next-link" href="javascript:GoToLink('@ViewBag.NextChapter')">
                    <input type="button" class="btn btn-sm btn-success" value="Next >>" />
                </a>
            </div>
        </div>

    </div>
</body>
</html>
