﻿@model SomaWebsite.Models.MyLendRequest
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ebook Library | TheReadersBay</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css">

    <link href="~/Content/EbookLibrary.css" rel="stylesheet" />
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="~/Content/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="~/Content/jquery.fileupload-ui-noscript.css"></noscript>
    <!-- jQuery/jQueryUI (hosted) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>

    <!-- Bootstrap Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Coverflow -->
    <script src="~/Scripts/jquery.coverflow.js" ></script>

</head>
<body class="@ViewBag.MobileCssClass">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span style="color:black;font:bold;font-size:30px"><b><i>TheReadersBay</i></b></span></a>

                @if (!ViewBag.IsMobile ?? false)
                {
                    <ul>
                        <li class="navbar-center navbar-collapse collapse" id="ebook-title">The One Library To Rule Them All</li>
                    </ul>
                }
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float:right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="color:black;font:bold">User ID: @ViewBag.Username</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="EbookLibrary">Your Library</a></li>
                            <li><a href="#" id="logout_link">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="main-content" style="padding-top:50px;">

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row text-center">
                    <h2>The One Library To Rule Them All...</h2>

                </div>
                @if (ViewBag.Msg != null)
                {
                    <div class="row alert-success text-center">
                        <h6>@ViewBag.Msg</h6>
                    </div>
                }
            </div>
            <div class="col-lg-2">
                <span class="glyphicon glyphicon-th" style="padding-top:15%" onclick="showListView()"></span>
            </div>
        </div>
        <hr />

        @if (Model != null)
        {

            <form method="post" action="@Url.Action("LendEbook")">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Lend Ebook</h4>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="txtUserId">
                                        Ebook
                                    </label>
                                </div>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(
                                    x => x.EbookID,
                                    new SelectList(Model.Items, "EbookId", "Title"),
                                    null,
                                    new { @class = "form-control" }
                                    )
                                </div>
                            </div>

                            <div class="row" style="padding-top:15px">
                                <div class="col-lg-3">
                                    <label for="txtUserId">
                                        New Reader's UserID
                                    </label>
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.NewReaderID, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="txtUserId">
                                        Duration in Hours
                                    </label>
                                </div>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.DurationInHours, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button id="dismiss-dialog" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button id="lend-button" type="submit" class="btn btn-success" data-dismiss="modal">Lend</button>
                        </div>
                    </div>

                </div>
            </form>
        }
    </div>

</body>
</html>
