﻿@model SomaEbookManager.EntityClasses.SomaSystemUser

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login | TheReadersBay</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.min.css" />
    <link href="~/Content/metro.css" />
    <link href="~/Content/metro-icons.css" />
    <link href="~/Content/metro-responsive.css" />
    <link href="~/Content/font-awesome.min.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/metro.js"></script>

    <style>
        .login-form {
            width: 25rem;
            height: 18.75rem;
            position: fixed;
            top: 50%;
            margin-top: -9.375rem;
            left: 50%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }
    </style>
    <script>

        $(document).ready(function () {
            showLoginFormOnStartUp();
        });

        function showLoginFormOnStartUp() {
            var form = $(".login-form");

            form.css({
                opacity: 1,
                "-webkit-transform": "scale(1)",
                "transform": "scale(1)",
                "-webkit-transition": ".5s",
                "transition": ".5s"
            });
        }
    </script>
</head>
<body class="bg-darkTeal">
    <form action="Login" method="post">

        @if (ViewBag.ErrorMsg != null)
        {
            <div class="row padding50">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div id="msg" class="alert alert-danger">
                            @ViewBag.ErrorMsg
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        }

        <div class="login-form padding20 block-shadow">

            <h1 class="text-light text-center"><span style="color:black;font:bold 14px"><b><i>The Reader's Bay</i></b></span></h1>
            <hr class="thin" />
            <br />
            <div class="input-control text full-size" data-role="input">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "user_login" })
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "text-default" } })
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "user_password" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "txt_password", @type = "password" } })
            </div>
            <br />
            <br />
            <div class="form-actions">
                <div class="text-center">
                    <input type="submit" value="Login" Text="Login Now" class="button primary" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
