﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ebook Library</title>

    <link href="~/Content/bootstrap.min.css" />
    <link href="~/Scripts/jquery.min.js" />
    <link href="~/Scripts/bootstrap.min.js" />


    <style>
        body {
            font-family: "Segoe UI", Verdana, Helvetica, Arial, sans-serif;
            font-size: 50px;
            color: #0C0D0E;
        }

        .navbar .divider-vertical {
            height: 50px;
            margin: 0 9px;
            border-right: 1px solid #F48024;
        }

        .navbar {
            border-bottom: 2px solid #F48024;
        }

        .navbar-inverse .divider-vertical {
            border-right-color: #222222;
        }

        @@media screen and (max-width: 3000px) {
            .navbar-collapse .nav > .divider-vertical {
                display: none;
            }
        }

        @@media screen and (min-width: 3000px) {
            .navbar-center {
                display: none;
                visibility: hidden;
            }
        }

        .navbar-center {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            padding-top: 15px;
            text-align: center;
            margin: auto;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 1.428571429;
        }

        .row {
            display: table;
            width: 100%;
        }

            .row > .col-lg-1 {
                display: table-cell;
                vertical-align: middle;
            }

        body {
            padding-top: 70px;
        }

        .navbar-header {
            float: none;
        }

        .navbar-toggle {
            display: block;
        }

        .navbar-collapse.collapse {
            display: none !important;
        }

        .navbar-nav {
            float: none !important;
        }

            .navbar-nav > li {
                float: none;
            }

        .navbar-collapse.collapse.in {
            display: block !important;
        }
    </style>

    <script>

        $(document).ready(function () {
            SetEventListeners();
        });

        function SetEventListeners() {

            //on browsing for file
            $('#BrowseButton').click(function () {
                $('#upload').click();
            });

            //on log out
            $('#logout_link').click(function () {
                localStorage.clear();
                window.location.href = "Logout";
            });

            //on ebook upload
            $('input[type=file]#upload').change(function () {

                alert("Uploading...");

                var data = new FormData();

                var files = $("#upload").get(0).files;


                if (files.length > 0) {
                    data.append("ebook", files[0]);
                }

                $.ajax({
                    type: 'POST',
                    url: 'Upload/',
                    contentType: false,
                    processData: false,
                    data: data,

                    success: function (Status) {

                        alert("Ebook Uploaded Successfully");
                        window.location.reload();
                        //}
                        //else {
                        //    alert("Ebook Upload Failed: " + Status.StatusDesc);
                        //}
                    },

                    error: function (request, message, error) {
                        alert("Ebook Upload Failed: " + error);
                    }
                });


            });
        }


/**/</script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="padding-top:10px;position:fixed">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span style="color:black;font:bold;font-size: 45px"><b><i>TheReadersBay</i></b></span></a>
                <a class="navbar-brand" href="logout"><button type="button" id="logout_link" class="navbar-right btn btn-lg btn-default" style="vertical-align:central">Sign Out</button></a>
            </div>
        </div>
    </nav>
    <div class="container" id="main-content" data-count=@ViewBag.EbookCount style="padding-top:60px;">

        <div class="row" style="padding-top:10px">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="text-center" style="margin-top:5px">
                    @if (ViewBag.Msg != null)
                    {
                        <div class="row alert-success text-center" style="margin-bottom:10px">
                            <h6>@ViewBag.Msg</h6>
                        </div>
                    }
                    <!-- The file upload form used as target for the file upload widget -->
                    <form id="fileupload" action="Upload" method="POST" enctype="multipart/form-data">
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar text-center">
                            <div class="row text-center">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <button onclick="openfileDialog(); return false;" class="btn btn-primary btn-block fileinput-button" style="width:300px;">
                                    Upload your Ebooks (PDF/EPUBs)
                                </button>
                                <input type="file" id="FileUploadControl" class="hidden" name="files[]" multiple>
                                <button id="btn-start-upload" type="submit" class="btn btn-success start hidden" style="width:200px;">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start upload</span>
                                </button>
                                <button id="btn-cancel-upload" type="reset" class="btn btn-warning cancel hidden" style="width:200px;">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel upload</span>
                                </button>
                            </div>
                            <hr class="thin" style="margin-bottom:0px;" />
                            <!-- The global progress state -->

                            <div class="row fileupload-progress fade text-center">
                                <p>Processing Files....Please Wait</p>
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped">
                            <tbody class="files"></tbody>
                        </table>
                    </form>

                </div>
            </div>
            <div class="col-lg-2">
                <span class="glyphicon glyphicon-th" style="margin-top:15%" onclick="showListView()"></span>
            </div>
        </div>


        <div class="row" id="coverflowView">
            <div class="photos" style="outline:none" autofocus>
                @foreach (var ebook in ViewBag.Ebooks)
                {
                    var linktag = "'EbookView?ebook=" + @ebook.EbookId + "&ebookTitle=" + @ebook.Title + "&chapter=" + @ebook.CurrentChapterIndex + "'";
                    var img_tag = "<img id='" + Guid.NewGuid().ToString() + "' class=\"cover\" onclick=\"goTo(" + linktag + ");\" rel=" + linktag + " data-name=\"" + ebook.Title + "\" src=\"Images/GetImage/" + ebook.CoverImageID + "\" width=\"320px\" height=\"240px\" />";


                    <div class="container">
                        <div class="row">
                            <img id='@ebook.EbookId' class="cover soma-cover-image" ondblclick="goTo(@linktag);" rel="@linktag" data-name="@ebook.Title" src="https://wf4byljwgc.execute-api.eu-central-1.amazonaws.com/Prod//Images/GetImage/@ebook.CoverImageID" width="320px" height="240px" />
                        </div>
                        <div class="row text-center">

                            <a class="btn btn-danger btn-md" href='RemoveEbook?ebook=@ebook.EbookId' onclick="return confirm('Are you Sure you want to do this?');">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                Del
                            </a>

                            &nbsp;&nbsp;

                            <a class="btn btn-primary btn-md" href='LendEbook?ebook=@ebook.EbookId'>
                                Lend
                            </a>

                            &nbsp;&nbsp;

                            <a class="btn btn-success btn-md" href='EbookView?ebook=@ebook.EbookId&ebookTitle=@ebook.Title&chapter=@ebook.CurrentChapterIndex'>
                                Read
                            </a>
                        </div>

                        <div class="row text-center">
                            @if (ebook.IsLentOut)
                            {
                                <p>@ebook.Title (Lent-Out)</p>
                            }
                            else
                            {
                                <p>@ebook.Title</p>
                            }
                        </div>

                    </div>

                }
            </div>
        </div>

        <div id="listView" class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ebook Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var anbook in ViewBag.Ebooks)
                    {
                        <tr>
                            @{
                                var readbutton = "<input type='button' value='Read' text='Read' class='btn btn-success' />";
                                var lendbutton = "<input type='button' value='Lend' text='Lend' class='btn btn-primary' />";
                                var link_tag = "<a href='EbookView/?ebook=" + anbook.EbookId + "&ebookTitle=" + anbook.Title + "&chapter=" + anbook.CurrentChapterIndex + "'>" + readbutton + "</a>";
                                var lendTag = "<a href='LendEbook/?ebook=" + anbook.EbookId + "'>" + lendbutton + "</a>";
                            }
                            <td>@anbook.Title</td>
                            <td>@Html.Raw(lendTag)</td>
                            <td>@Html.Raw(link_tag)</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>


        <!-- The template to display files available for upload -->
        <script id="template-upload" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-upload fade">
                <td>
                    <span class="preview"></span>
                </td>
                <td>
                    <p class="name">{%=file.name%}</p>
                    <strong class="error text-danger"></strong>
                </td>
                <td>
                    <p class="size">Processing...</p>
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                </td>
                <td>
                    {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start hidden" disabled>
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                    {% } %}
                    {% if (!i) { %}
                    <button class="btn btn-warning cancel hidden">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                    {% } %}
                </td>
            </tr>
            {% } %}
        </script>
        <!-- The template to display files available for download -->
        <script id="template-download" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-download fade">
                <td>
                    <span class="preview">
                        {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                        {% } %}
                    </span>
                </td>
                <td>
                    <p class="name">
                        {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                        {% } else { %}
                        <span>{%=file.name%}</span>
                        {% } %}
                    </p>
                    {% if (file.error) { %}
                    <div>
                        <span class="label label-danger">Error</span> {%=file.error%}
                    </div>
                    {% } %}
                </td>
                <td>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </td>
                <td>
                    {% if (file.deleteUrl) { %}
                    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                    <input type="checkbox" name="delete" value="1" class="toggle">
                    {% } else { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                    {% } %}
                </td>
            </tr>
            {% } %}
        </script>
        <script src="~/Scripts/jquery.ui.widget.js"></script>
        <!-- The Templates plugin is included to render the upload/download listings -->
        <script src="~/Scripts/tmpl.min.js"></script>
        <!-- blueimp Gallery script -->
        <script src="~/Scripts/jquery.blueimp-gallery.min.js"></script>
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="~/Scripts/jquery.iframe-transport.js"></script>
        <!-- The basic File Upload plugin -->
        <script src="~/Scripts/jquery.fileupload.js"></script>
        <!-- The File Upload processing plugin -->
        <script src="~/Scripts/jquery.fileupload-process.js"></script>
        <!-- The File Upload validation plugin -->
        <script src="~/Scripts/jquery.fileupload-validate.js"></script>
        <!-- The File Upload user interface plugin -->
        <script src="~/Scripts/jquery.fileupload-ui.js"></script>
        <!-- The main application script -->
        <script src="~/Scripts/EbookLibrary.js"></script>
        <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
        <!--[if (gte IE 8)&(lt IE 10)]>
        <script src="js/cors/jquery.xdr-transport.js"></script>
        <![endif]-->
        <div class="row">
            <div class="text-center">

                <input type="file" Id="upload" style="visibility:hidden" />
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom" style="position:fixed;height:100px;border-top: 2px solid #F48024;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 text-left">
                        <a href="mailto:nsubugak@yahoo.com">
                            <input type="button" id="help-link" class="btn btn-lg btn-primary" value="Contact Help" style="font-size:30px;" />
                        </a>
                    </div>
                    <div class="col-sm-4 text-center">
                        <button type="button" Id="BrowseButton" class="btn btn-success btn-lg" style="font-size:30px;">Upload a book</button>
                    </div>
                    <div class="col-sm-4 text-right">

                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>
