﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.EbookTitle</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- jQuery/jQueryUI (hosted) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.backDetect.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script src="~/Scripts/EbookView.js"></script>
    <style>
        body {
            font-family: "Segoe UI", Verdana, Helvetica, Arial, sans-serif;
            font-size: 50px;
            color: #0C0D0E;
        }

        .navbar .divider-vertical {
            height: 50px;
            margin: 0 9px;
            border-right: 1px solid #F48024;
        }

        .navbar {
            border-bottom: 2px solid #F48024;
        }

        .navbar-inverse .divider-vertical {
            border-right-color: #222222;
        }

        @@media screen and (max-width: 3000px) {
            .navbar-collapse .nav > .divider-vertical {
                display: none;
            }
        }

        @@media screen and (min-width: 3000px) {
            .navbar-center {
                display: none;
                visibility: hidden;
            }
        }

        .navbar-center {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            padding-top: 15px;
            text-align: center;
            margin: auto;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 1.428571429;
        }

        .row {
            display: table;
            width: 100%;
        }

            .row > .col-lg-1 {
                display: table-cell;
                vertical-align: middle;
            }

        body {
            padding-top: 70px;
        }

        .navbar-header {
            float: none;
        }

        .navbar-toggle {
            display: block;
        }

        .navbar-collapse.collapse {
            display: none !important;
        }

        .navbar-nav {
            float: none !important;
        }

            .navbar-nav > li {
                float: none;
            }

        .navbar-collapse.collapse.in {
            display: block !important;
        }
    </style>

    <script>
        $(document).ready(function () {
            $(document).scrollTop(@ViewBag.ScrollbarPosition);
        });
    </script>
</head>
<body>

    @* ----------------------- Main Body -------------------------------- *@
    <div class="container" style="        padding-top: 50px">
        <div class="row">
            <div id="content" class="col-sm-12">

                <div class="row">
                    <div class="text-center">
                        @ViewBag.EbookTitle
                    </div>
                </div>

                <hr />

                <div class="row center-justified" style="        padding-right: 0%;
        padding-left: 0%">
                    @Html.Raw(@ViewBag.ChapterContent)
                </div>



            </div>
        </div>
    </div>
    <div class="container" style="height:150px"></div>


    <div class="navbar navbar-default navbar-fixed-bottom" style="position: fixed;
        border-top: 2px solid #F48024;
        height: 65px; vertical-align:middle">
        <div class="row">
            <div class="text-center">
                <div class="col-sm-4">
                    <a id="prev-link" href="javascript:GoToLink('@ViewBag.PrevChapter')">
                        <input type="button" class="btn btn-lg btn-success" value="Prev" style="margin-bottom:25px" />
                    </a>
                </div>
                <div class="col-sm-4">
                    <a id="library-link" href="javascript:GoToLink('@Url.Action("EbookLibrary")')">
                        <input type="button" id="library-btn" class="btn btn-lg btn-primary" value="Library" style="margin-bottom:25px" />
                    </a>
                </div>
                <div class="col-sm-4">
                    <a id="next-link" href="javascript:GoToLink('@ViewBag.NextChapter')">
                        <input type="button" class="btn btn-lg btn-success" value="Next" style="margin-bottom:25px" />
                    </a>
                </div>
                

                

                
            </div>
        </div>
    </div>
</body>
</html>
