﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Quick Login | TheReadersBay</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="257129231072-gdtvvn5l1levjvn1pspuv0pqhfepigdu.apps.googleusercontent.com">
    <meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <script src="https://apis.google.com/js/client:platform.js?onload=Render" async defer></script>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.min.css" />
    <link href="~/Content/metro.css" />
    <link href="~/Content/metro-icons.css" />
    <link href="~/Content/metro-responsive.css" />
    <link href="~/Content/font-awesome.min.css" />
    <link href="~/Scripts/jquery.min.js" />
    <link href="~/Scripts/metro.js" />

    <style>
        .login-form {
            width: 25rem;
            height: 25.75rem;
            position: fixed;
            top: 50%;
            margin-top: -9.375rem;
            left: 50%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }
    </style>
    <script>

        $(document).ready(function () {
            showLoginFormOnStartUp();
        });

        function showLoginFormOnStartUp() {

            var form = $(".login-form");

            form.css({
                opacity: 1,
                "-webkit-transform": "scale(1)",
                "transform": "scale(1)",
                "-webkit-transition": ".5s",
                "transition": ".5s"
            });
        }
    </script>

    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
</head>
<body class="bg-darkTeal">
    <script id="facebook-script">
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1507872592862305',
                status: true,
                cookie: true,
                xfbml: true
            });
        };

        // Load the SDK asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementById('facebook-script');
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

        function LoginWithGoogle() {
            var myParams = {
                'clientid': '257129231072-gdtvvn5l1levjvn1pspuv0pqhfepigdu.apps.googleusercontent.com', //You need to set client id
                'cookiepolicy': 'single_host_origin',
                'callback': 'loginCallback', //callback function
                'approvalprompt': 'force',
                'scope': 'profile email'
            };
            gapi.auth.signIn(myParams);
        }

        function loginCallback(authResult) {
            console.log(authResult);
            if (authResult['status']['signed_in']) {
                // Update the app to reflect a signed in user
                // Hide the sign-in button now that the user is authorized, for example:
                gapi.client.load('plus', 'v1', loadProfile);
            } else {
                // Update the app to reflect a signed out user
                // Possible error values:
                //   "user_signed_out" - User is signed-out
                //   "access_denied" - User denied access to your app
                //   "immediate_failed" - Could not automatically log in the user
                $('#status').html("FAILED: " + authResult['error']);
                console.log('Sign-in state: ' + authResult['error']);
            }
        }

        /**
         * Uses the JavaScript API to request the user's profile, which includes
         * their basic information.
         */
        function loadProfile() {
            var request = gapi.client.plus.people.get({ 'userId': 'me' });
            request.execute(loadProfileCallback);
        }

        function loadProfileCallback(obj) {
            profile = obj;
            anEmail = obj['emails'].filter(function (v) {
                return v.type === 'account'; // Filter out the primary email
            })[0].value; // get the email from the filtered results, should always be defined.

            if (anEmail !== 'undefined') {
                post('QuickLogin', { name: '', email: anEmail })
            }
            console.log("Email=" + anEmail);
        }


        //login using facebook
        function loginUsingFacebook() {
            FB.login(function (response) {

                console.log(response);

                //check for email
                if (typeof response.authResponse.userID === 'undefined') {
                    $('#status').html("FAILED: UNABLE TO LOGIN USING FACEBOOK.");
                    return;
                }

                //get users details from facebook
                FB.api('/me', { locale: 'en_US', fields: 'name, email' }, function (aresponse) {

                    //check for email
                    if (typeof aresponse.email === 'undefined') {
                        $('#status').html("FAILED: UNABLE TO GET YOUR EMAIL FROM FACEBOOK. A VALID EMAIL IS REQUIRED");
                        return;
                    }

                    //email is there we can redirect to login
                    console.log('Successful login for: ' + aresponse.email);
                    console.log(aresponse);
                    post('QuickLogin', { name: aresponse.name, email: aresponse.email });
                });

            }, { scope: 'public_profile,email' });
        }

        function post(path, parameters) {
            var form = $('<form></form>');

            form.attr("method", "post");
            form.attr("action", path);

            $.each(parameters, function (key, value) {
                var field = $('<input></input>');

                field.attr("type", "hidden");
                field.attr("name", key);
                field.attr("value", value);

                form.append(field);
            });

            // The form needs to be a part of the document in
            // order for us to be able to submit it.
            $(document.body).append(form);
            form.submit();
        }



/**/</script>
    <form action="Login" method="post">

        @if (ViewBag.ErrorMsg != null)
        {
            <div class="row padding50">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div id="status" class="alert alert-danger">
                            @ViewBag.ErrorMsg
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        }

        <div class="login-form padding20 block-shadow">

            <h1 class="text-light text-center"><span style="color:black;font:bold 14px"><b><i>The Reader's Bay</i></b></span></h1>
            <hr class="thin" />
            <br />
            <div class="input-control text full-size" data-role="input">
                @*<div class="g-signin2"  data-onsuccess="onSignIn" data-theme="dark"></div>*@
                <div class="text-center">
                    <input type="button" style="padding-left:20px" value="Login with Google" onclick="LoginWithGoogle()" class="btn btn-primary" />
                </div>
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                <div class="text-center">
                    <input type="button" style="padding-left:20px" value="Login with Facebook" onclick="loginUsingFacebook()" class="btn btn-primary" />
                </div>
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                <div class="text-center">
                    <a href="Login"><input type="button" style="padding-left:20px" value="Login with Project-Novelish" class="btn btn-primary" /></a>
                </div>
            </div>
            <br />
            <br />
            <hr class="thin" />
            @*<div class="input-control password full-size" data-role="input">
                    <div class="text-center">
                        <a href="Home/Register"><input type="button" style="padding-left:20px" value="Register" class="btn btn-primary" /></a>
                    </div>
                </div>
                <br />
                <br />
                <hr class="thin" />*@
        </div>
    </form>
</body>
</html>
