﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheReadersBay | Serverless</title>
    <!-- Tell the browser to be responsive to screen width -->
    <script type="text/jscript" src="Scripts/pace.min.js"></script>
    <link href="Styles/pace-theme-bounce.css" rel="stylesheet" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <script type="text/javascript">

        /* Replace #your_subdomain# by the subdomain of a Site in your OneAll account */
        var oneall_subdomain = 'thereadersbayorg';

        /* The library is loaded asynchronously */
        var oa = document.createElement('script');
        oa.type = 'text/javascript'; oa.async = true;
        oa.src = '//' + oneall_subdomain + '.api.oneall.com/socialize/library.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(oa, s);

    </script>

</head>
<body cz-shortcut-listen="true" class="content-wrapper">
    <form runat="server">
        <div class="preloader" style="display: none;">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <div id="wrapper">

            <section id="wrapper" class="login-register">
                <div class="login-box login-sidebar">
                    <div class="white-box">

                        <div class="form-horizontal">
                            <a href="javascript:void(0)" class="text-center db">
                                <img width="300" height="200" src="~/Images/getImage/pegasus.png" alt="Home"><br>
                            </a>


                            <br />
                            @if (ViewBag.ErrorMsg != null)
                            {
                                <div class="form-group text-center m-t-20">
                                    <blockquote>
                                        <small>
                                            <label> @ViewBag.ErrorMsg</label>
                                        </small>
                                    </blockquote>
                                </div>

                            }

                            <br />
                            <div class="form-group text-center m-t-20">
                                @*<a href="/Home/Login" style="padding-left:20px" class="btn btn-default">*@

                                To Sign in, Use One of the Options Below

                                @*</a>*@
                            </div>
                            <br />
                            <div class="form-group text-center m-t-20">

                                <div class="row" data-role="input">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <div class="text-center">
                                            <div id="oa_social_login_container" style="justify-content:center"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3"></div>

                                </div>
                                <br />
                                <br />
                                <blockquote>
                                    <small>
                                        <label>Welcome to the Readers Bay. <br /> An online e-book library</label>
                                    </small>
                                </blockquote>

                                <script type="text/javascript">
                                    
                                    var callback_uri = window.location.origin + '/@Url.Action("SSO_QuickLogin").ReplaceFirst("/",string.Empty)';
                                    console.log("Callback:" + callback_uri)
                                    /* Embeds the buttons into the container oa_social_login_container */
                                    var _oneall = _oneall || [];
                                    _oneall.push(['social_login', 'set_providers', ['facebook', 'google']]);
                                    _oneall.push(['social_login', 'set_callback_uri', callback_uri]);
                                    _oneall.push(['social_login', 'do_render_ui', 'oa_social_login_container']);

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- jQuery -->
        <script type="text/jscript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script type="text/jscript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <!-- plugin -->
    </form>
</body>
</html>
