﻿body {
	font-family: Poppins,sans-serif;
	font-size: 18px;
	color: #0C0D0E;
}

.soma-cover-image {
	height: 240px;
	width: 320px;
	border: 1px thin azure;
	border-radius: 5px;
}

.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-right: 1px solid #F48024;
}

.navbar {
	border-bottom: 2px solid #F48024;
}

.navbar-inverse .divider-vertical {
	border-right-color: #222222;
}

@@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}


.navbar-center {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	padding-top: 15px;
	text-align: center;
	margin: auto;
	font-size: 18px;
	line-height: 1.428571429;
}



/* CD covers */
.photos .cover {
	cursor: pointer;
	/*-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, .5)));*/
}

#photos-info {
	position: relative;
	text-align: center;
	z-index: 1000;
	text-shadow: 0 0 8px white;
}

#photos-name {
	font-size: 200%;
	font-weight: bold;
}

.clearfix {
	clear: both;
}

#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

	#myImg:hover {
		opacity: 0.7;
	}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}

	to {
		-webkit-transform: scale(1);
	}
}

@@keyframes zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.zoom {
	zoom: 1.5;
}

.zoom-moz {
	-moz-transform: scale(1.5);
	-moz-transform-origin: 0 0;
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

	.close:hover,
	.close:focus {
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
	}

@@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}

.noclose .ui-dialog-titlebar-close {
	display: none;
}
